<!DOCTYPE html>
<!--
  Copyright 2015-2020 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hippo Channel Manager Frontend NG</title>

    <% for (let css of htmlWebpackPlugin.files.css) { %>
      <link href="<%= css %>" rel="stylesheet">
    <% } %>
    <% for (let css of uiCss) { %>
      <link href="<%= css %>" rel="stylesheet">
    <% } %>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  </head>

  <body ng-app="hippo-cm" ng-strict-di iframe-asset="<%= htmlWebpackPlugin.files.chunks.iframe.entry %>">
    <div ui-view layout-fill>
      <md-toolbar class="hippo-toolbar">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </md-toolbar>
    </div>

    <% for (let js of htmlWebpackPlugin.files.js) { %>
      <% if (js !== htmlWebpackPlugin.files.chunks.iframe.entry) { %>
        <script type="text/javascript" src="<%= js %>"></script>
      <% } %>
    <% } %>

    <% for (let js of uiJs) { %>
      <script type="text/javascript" src="<%= js %>"></script>
    <% } %>
  </body>
</html>
